[submodule ".config/wlogout"]
	path = .config/wlogout
	url = https://github.com/TanX-009/wlogout
[submodule ".config/foot"]
	path = .config/foot
	url = https://github.com/TanX-009/foot
[submodule ".config/swaync"]
	path = .config/swaync
	url = https://github.com/TanX-009/swaync
[submodule ".config/fish"]
	path = .config/fish
	url = https://github.com/TanX-009/fish
[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/TanX-009/nvim
[submodule ".config/rofi"]
	path = .config/rofi
	url = https://github.com/TanX-009/rofi
[submodule ".config/waybar"]
	path = .config/waybar
	url = https://github.com/TanX-009/waybar
[submodule ".config/hypr"]
	path = .config/hypr
	url = https://github.com/TanX-009/hypr
[submodule ".scripts"]
	path = .scripts
	url = https://github.com/TanX-009/.scripts
[submodule ".colors"]
	path = .colors
	url = https://github.com/TanX-009/.colors
[submodule "userconf"]
	path = userconf
	url = https://github.com/TanX-009/userconf
[submodule "themeconf"]
	path = themeconf
	url = https://github.com/TanX-009/themeconf
